<div class="global">
    <div class="filters-container">
        <div class="filter-name">
            <input #inputRefName type="text" placeholder="Buscar produto" (keyup)="filterByName(inputRefName.value)">
        </div>
        <div class="filter-name">
          <input #inputRefCategory type="text" placeholder="Buscar por categoria" (keyup)="filterByCategory(inputRefCategory.value)">
        </div>
        <div class="filter-name">
          <input 
            #inputMin 
            type="number" 
            placeholder="Quantidade mínima"
            (input)="filterByQuantity(inputMin.valueAsNumber, inputMax.valueAsNumber)">

          <input 
            #inputMax 
            type="number" 
            placeholder="Quantidade máxima"
            (input)="filterByQuantity(inputMin.valueAsNumber, inputMax.valueAsNumber)">
        </div>
    </div>
    <div class='list-product'>
        <table class="product-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Criação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of listFilter">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price | currency:'BRL' }}</td>
                <td>{{ product.creationDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

