<div class="global">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="page">
        <div class="left-menu">
            <a>menu</a>
            <app-left-menu (statusChange)="createFormShow($event)"
                           (statusChangeUpdate)="updateFormShow($event)"
            ></app-left-menu>
        </div>
        <div class="central-content">
            <a>{{createForm}}</a>
            <app-create-product *ngIf="createForm"></app-create-product>
            <app-update-product *ngIf="updateForm"></app-update-product>
        </div>
    </div>
</div>